.feedback {
    background-color: #31B0D5;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#mybutton {
    position: fixed;
    top: 0px;
    left: 0px;
}

a {
    opacity: 1;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
    opacity: 1;
}
